$body-background-color: #eaebec;

// Make the box model behave reasonably
// c.f. Paul Irish http://www.paulirish.com/2012/box-sizing-border-box-ftw
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  background: $body-background-color;
  font-family: $sans-serif-font-family;
}

// Remove the odd little space below images
img {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

//
// Global header and footer
//

header {
  min-height: 50px;
  padding: 1rem 0;
}

footer {
  min-height: 50px;
  padding: 1rem 0;
}